doctype html
head
  title Ehya
  meta(charset='UTF-8')
  meta(name='format-detection' content='telephone=no')
  link(rel='stylesheet' href='css/style.min.css')
  // <link rel="shortcut icon" type="image/x-icon" href="">
  // <meta name="robots" content="noindex, nofollow"/>
  // <meta name="viewport" content="width=device-width, initial-scale=1.0">
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
body
  .wrapper
    include _header

    main
      section.features-part.features-part_running-into
        .container
          .features-part__body
            .features-part__card.features-part-card
              .features-part-card__icon
                img(src='img/icons/features-icon-8.svg' alt='icon')
              .features-part-card__description
                h3.title.features-part-card__title Super Architecture
                p.text.features-part-card__text
                  | Modular, realiable, OOP, simple fast, for scalable
                  | client-side code.
            .features-part__card.features-part-card
              .features-part-card__icon
                img(src='img/icons/features-icon-5.svg' alt='icon')
              .features-part-card__description
                h3.title.features-part-card__title No Dependencies
                p.text.features-part-card__text Independent of any third-party libraries or frameworks.
            .features-part__card.features-part-card
              .features-part-card__icon
                img(src='img/icons/features-icon-7.svg' alt='icon')
              .features-part-card__description
                h3.title.features-part-card__title Well Documented
                p.text.features-part-card__text Each component and module has descriptions and API.
            .features-part__card.features-part-card
              .features-part-card__icon
                img(src='img/icons/features-icon-1.svg' alt='icon')
              .features-part-card__description
                h3.title.features-part-card__title Real Life Tested
                p.text.features-part-card__text
                  | We use it in our work. On this site too for the front and
                  | admin.
            a.more.features-part__more(href='#')
              | Explore all features
              img(src='img/icons/arrow-right-blue.svg' alt='→')
          // .features-part__body
        // .container
      // /.features-part

      section.quickstart
        .container
          .quickstart__body
            span.subtitle.quickstart__subtitle QUICKSTART
            h2.heading.quickstart__heading Awesome isn't it? Let's dive in!
            p(class="text quickstart__text") Install packages with npm or other methods. Package will be installed to components/ directory and ready to use for your project.
            .quickstart-tabs
              div(class="tabs quickstart-tabs__body")
                .quickstart-tabs__items-row
                    button(class="tabs__item quickstart-tabs__item tabs__item_active" data-href="#quickstart-tabs-1") npm
                    button(class="tabs__item quickstart-tabs__item" data-href="#quickstart-tabs-2") bower
                    button(class="tabs__item quickstart-tabs__item" data-href="#quickstart-tabs-3") Yarn
                    button(class="tabs__item quickstart-tabs__item" data-href="#quickstart-tabs-4") NuGet
                    button(class="tabs__item quickstart-tabs__item" data-href="#quickstart-tabs-5") spm
                    button(class="tabs__item quickstart-tabs__item" data-href="#quickstart-tabs-6") meteor
                p(id="quickstart-tabs-1" class="tabs__text quickstart-tabs__text tabs__text_active")
                  img(src="img/icons/dollar-icon.svg" alt="$")
                  | npm install #[span.quickstart-tabs__text_blue -g] ehya.js
                p(id="quickstart-tabs-2" class="tabs__text quickstart-tabs__text")
                  img(src="img/icons/dollar-icon.svg" alt="$")
                  | bower install #[span.quickstart-tabs__text_blue -g] ehya.js
                p(id="quickstart-tabs-3" class="tabs__text quickstart-tabs__text")
                  img(src="img/icons/dollar-icon.svg" alt="$")
                  | yarn install #[span.quickstart-tabs__text_blue -g] ehya.js
                p(id="quickstart-tabs-4" class="tabs__text quickstart-tabs__text")
                  img(src="img/icons/dollar-icon.svg" alt="$")
                  | nuget install #[span.quickstart-tabs__text_blue -g] ehya.js
                p(id="quickstart-tabs-5" class="tabs__text quickstart-tabs__text")
                  img(src="img/icons/dollar-icon.svg" alt="$")
                  | spm install #[span.quickstart-tabs__text_blue -g] ehya.js
                p(id="quickstart-tabs-6" class="tabs__text quickstart-tabs__text")
                  img(src="img/icons/dollar-icon.svg" alt="$")
                  | meteor install #[span.quickstart-tabs__text_blue -g] ehya.js

              form.quickstart-tabs__form(class="quickstart-tabs-form" action="#")
                label.quickstart-tabs-form__label
                  input.quickstart-tabs-form__checkbox(type="checkbox") 
                  | Requires #[span node], #[span npm] and #[span git]
                label.quickstart-tabs-form__label
                  input.quickstart-tabs-form__checkbox(type="checkbox") 
                  | Latest release #[span v1.8.9]

      section.information
        .container
          .information__body
            h2.heading.information__heading Powerfull javascript library ever
            p.text.information__text 
              =  "An awesome & powefull JavaScript library for building user interfaces. Independent of any third-party libraries or frameworks."
            .information__block
              .information-item.information__item
                .information-item__img
                  img(src="img/icons/light-star.svg", alt="icon")
                span.information-item__indicator.heading 4.98/5
                p.information-item__title.text Average ratings
              .information-item.information__item
                .information-item__img
                  img(src="img/icons/light-person.svg", alt="icon")
                span.information-item__indicator.heading 360k+
                p.information-item__title.text Monthly Installs
              .information-item.information__item
                .information-item__img
                  img(src="img/icons/light-download-icon.svg", alt="icon")
                span.information-item__indicator.heading 70k+
                p.information-item__title.text Weekly Downloads
              .information-item.information__item
                .information-item__img
                  img(src="img/icons/light-fire-icon.svg", alt="icon")
                span.information-item__indicator.heading 6.4M
                p.information-item__title.text Total Downloads
          // .information__body
        // .container
      // .information

      section.features
        .container
          .features__body
            span.subtitle.features__subtitle FEATURES
            h2.heading.features__heading Explore about our awesome features
            p.text.features__text 
              = "An awesome & powefull JavaScript library for building user interfaces. Independent of any third-party libraries or frameworks."
            .features__grid
              .features-item.features__item
                .features-item__img
                  img(src="img/icons/features-icon-1.svg", alt="icon")
                h3.title.features-item__title Simple usage
                p.text.features-item__text.
                  Our library makes things simple like never before, by preferring code over configuration.
                a.more.features-item__more(href="#") Learn more
                  img(src="img/icons/arrow-right-blue.svg", alt="→")
              .features-item.features__item
                .features-item__img
                  img(src="img/icons/features-icon-2.svg", alt="icon")
                h3.title.features-item__title Efficient builds
                p.text.features-item__text.
                  Using the power of node streams, first gives you fast builds that don't write intermediary.
                a.more.features-item__more(href="#") Learn more
                  img(src="img/icons/arrow-right-blue.svg", alt="→")
              .features-item.features__item
                .features-item__img
                  img(src="img/icons/features-icon-3.svg", alt="icon")
                h3.title.features-item__title Flexible library
                p.text.features-item__text.
                  Our library is designed to be agnostic about your setup and style of coding. 
                a.more.features-item__more(href="#") Learn more
                  img(src="img/icons/arrow-right-blue.svg", alt="→")
              .features-item.features__item
                .features-item__img
                  img(src="img/icons/features-icon-4.svg", alt="icon")
                h3.title.features-item__title Friendly Syntax
                p.text.features-item__text.
                  Our library starts from the same syntax that millions of JavaScript developers know today
                a.more.features-item__more(href="#") Learn more
                  img(src="img/icons/arrow-right-blue.svg", alt="→")
              .features-item.features__item
                .features-item__img
                  img(src="img/icons/features-icon-5.svg", alt="icon")
                h3.title.features-item__title Suit for large apps
                p.text.features-item__text.
                    Using the power of node streams, first gives you fast builds that don't write intermediary.
                a.more.features-item__more(href="#") Learn more
                  img(src="img/icons/arrow-right-blue.svg", alt="→")
              .features-item.features__item
                .features-item__img
                  img(src="img/icons/features-icon-6.svg", alt="icon")
                h3.title.features-item__title State of the art JavaScript
                p.text.features-item__text.
                  Our library offers support for the latest and evolving JavaScript features.
                a.more.features-item__more(href="#") Learn more
                  img(src="img/icons/arrow-right-blue.svg", alt="→")
            // .features__body
        // .container
      // .features
      
      section.sponsors
        .container
          .sponsors__body
            .sponsors__text
              h2.heading.sponsors__heading See all our great sponsors
              button.button-bordered.sponsors__button Become Sponsor
            .sponsors__block
              .sponsors__item
                img(src="img/icons/airbnb.svg", alt="airbnb")
              .sponsors__item
                img(src="img/icons/google.svg", alt="Google")
              .sponsors__item
                img(src="img/icons/spotify.svg", alt="Spotify")
              .sponsors__item
                img(src="img/icons/fitbit.svg", alt="fitbit")
              .sponsors__item
                img(src="img/icons/mapbox.svg", alt="mapbox")
          // .sponsors__body
        // .container
      // .sponsors 

      section.questions
        .container
          .questions__body
            div.questions__text-block
              span.subtitle.questions__subtitle HAVE QUESTIONS?
              h2.heading.questions__heading Relax because we always will be here for you
              p.text.questions__text.
                Our library starts from the same syntax that millions of JavaScript developers know today.
              ul.library-advantages
                li.library-advantages__item
                  div.library-advantages__icon
                    img(src="img/icons/library-advantages-icon.svg", alt="&2611;")
                  div
                    h3.library-advantages__title Our library are simple
                    p.library-advantages__text Our library makes things simple like never before, by preferring code over configuration.
                li.library-advantages__item
                  div.library-advantages__icon
                    img(src="img/icons/library-advantages-icon.svg", alt="&2611;")
                  div
                    h3.library-advantages__title Suit for large apps
                    p.library-advantages__text Using the power of node streams, first gives you fast builds that don't write intermediary.
            ul.spoiler.popular-questions
              li.spoiler-item.popular-questions-item.popular-questions__item
                .spoiler-item__preview.popular-questions-item__preview(data-target1="#text-1" data-target2="#icon-1")
                  h3.title.spoiler-item__title.popular-questions-item__title How to get started?
                  .spoiler-item__icon.popular-questions-item__icon(id="icon-1")
                p.spoiler-item__text.popular-questions-item__text(id="text-1").
                  An awesome & powefull JavaScript library for building user interfaces. Makes things simple like never before, by preferring code over configuration.
              li.spoiler-item.popular-questions-item.popular-questions__item
                .spoiler-item__preview.popular-questions-item__preview(data-target1="#text-2" data-target2="#icon-2")
                  h3.title.spoiler-item__title.popular-questions-item__title How to composing with components?
                  .spoiler-item__icon.popular-questions-item__icon(id="icon-2")
                p.spoiler-item__text.popular-questions-item__text(id="text-2").
                  An awesome & powefull JavaScript library for building user interfaces. Makes things simple like never before, by preferring code over configuration.
              li.spoiler-item.popular-questions-item.popular-questions__item
                .spoiler-item__preview.popular-questions-item__preview(data-target1="#text-3" data-target2="#icon-3")
                  h3.title.spoiler-item__title.popular-questions-item__title How to create your own module?
                  .spoiler-item__icon.popular-questions-item__icon(id="icon-3")
                p.spoiler-item__text.popular-questions-item__text(id="text-3").
                  An awesome & powefull JavaScript library for building user interfaces. Makes things simple like never before, by preferring code over configuration.
              li.spoiler-item.popular-questions-item.popular-questions__item
                .spoiler-item__preview.popular-questions-item__preview(data-target1="#text-4" data-target2="#icon-4")
                  h3.title.spoiler-item__title.popular-questions-item__title Migrate from old version
                  .spoiler-item__icon.popular-questions-item__icon(id="icon-4")
                p.spoiler-item__text.popular-questions-item__text(id="text-4").
                  An awesome & powefull JavaScript library for building user interfaces. Makes things simple like never before, by preferring code over configuration.
            // .popular-questions
          // .questions__body
        // .container
      // .questions
    include _footer
  include _js
