@media (max-width: 1170px)
  .features-part
    &__card
      max-width: 370px

@media (max-width: 992px)
  .header
    &__nav
      display: none
    &__burger
      display: block

  .features-part
    &__body
      padding: 0
    &__card
      flex-direction: column
      max-width: 344px
    &-card
      &__icon
        margin: 0 0 24px 0

  .information
    padding: 177px 0 96px 0
    &__text
      margin: 0 0 56px 0
    &__block
      flex-direction: column
      justify-content: space-between
      padding: 0
    &__item
      padding: 40px 0
      &:not(:last-child)
        border-right: none
        border-bottom: 1px solid #D8D8D8

  .quickstart
    padding: 96px 0 48px 0
    &__text
      margin: 0 0 48px 0
    &-tabs
      width: 100%
      &__body
        width: 100%
        height: auto
      &__items-row
        flex-wrap: wrap

@media (max-width: 767px)
  .header
    &-bottom
      padding: 50px 0 0 0
      &__heading
        line-height: 50px

  .features-part
    &__card
      max-width: 100%
    &__more
      margin: 24px auto 0 auto

  .quickstart
    padding: 70px 0 48px 0
    &__text
      margin: 0 0 40px 0
    &-tabs
      &__items-row
        flex-wrap: wrap
        justify-content: flex-start
        margin: 0 0 25px 0
      &__item
        margin: 0 10px 10px 0

@media (max-width: 520px)
  .header
    &-bottom
      &__heading
        line-height: 40px
      &__paragraph
        margin: 0 0 25px 0
      &__buttons
        display: flex
        flex-direction: column
      &__button
        margin: 0 0 12px 0

  .information
    padding: 80px 0
    background-image: none

  .button
    min-width: 207px
    padding: 13px 24px
    &-bordered
      min-width: 207px
      padding: 13px 24px

  .dropdown__button
    min-width: 0

  .quickstart
    padding: 80px 0
    &__text
      margin: 0 0 36px 0
    &-tabs
      &__item
        padding: 6px 12px
      &__body
        padding: 24px
      &-form
        flex-direction: column
        &__label
          &:first-child
            margin: 0 0 19px 0

@media (max-width: 400px)
  .features-part
    &__card
      align-items: center
