//<МИКСИНЫ>==============================================================================================================
@import "_mixins.sass"
//</МИКСИНЫ>=============================================================================================================

//<ШРИФТЫ>===============================================================================================================
@font-face
  font-family: 'HKGrotesk'
  src: url('../fonts/HKGrotesk-Bold.woff')
  src: local('☺'), url('../fonts/HKGrotesk-Bold.woff2') format('woff2')
  font-weight: bold
  font-style: normal
  font-display: swap
@font-face
  font-family: 'HKGrotesk'
  src: url('../fonts/HKGrotesk-SemiBold.woff')
  src: local('☺'), url('../fonts/HKGrotesk-SemiBold.woff2') format('woff2')
  font-weight: 600
  font-style: normal
  font-display: swap
@font-face
  font-family: 'HKGrotesk'
  src: url('../fonts/HKGrotesk-Regular.woff')
  src: local('☺'), url('../fonts/HKGrotesk-Regular.woff2') format('woff2')
  font-weight: 400
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Open-Sans'
  src: url('../fonts/OpenSans-Bold.woff')
  src: local('☺'), url('../fonts/OpenSans-Bold.woff2') format('woff2')
  font-weight: bold
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Open-Sans'
  src: url('../fonts/OpenSans-Regular.woff')
  src: local('☺'), url('../fonts/OpenSans-Regular.woff2') format('woff2')
  font-weight: regular
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Open-Sans'
  src: url('../fonts/OpenSans-Semibold.woff')
  src: local('☺'), url('../fonts/OpenSans-Semibold.woff2') format('woff2')
  font-weight: 600
  font-style: normal
  font-display: swap
@font-face
  font-family: 'SFMono'
  src: url('../fonts/SFMono-Medium.woff')
  src: local('☺'), url('../fonts/SFMono-Medium.woff2') format('woff2')
  font-weight: 500
  font-style: normal
  font-display: swap
//</ШРИФТЫ>==============================================================================================================

//<ПЕРЕМЕННИЕ>===========================================================================================================
@import "_variables.sass"
//</ПЕРЕМЕННИЕ>==========================================================================================================

//<ОБНУЛЕНИЯ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================
@import "_nullstyle.sass"
//</ОБНУЛЕНИЯ, ОБЩИЕ ПАРАМЕТРЫ>==========================================================================================

//<ОБОЛОЧКА>=============================================================================================================
body.body-active
  overflow: hidden

.wrapper
  width: 100%
  min-height: 100%
  overflow: hidden

//</ОБОЛОЧКА>============================================================================================================

//<ОСНОВНАЯ СЕТКА>=======================================================================================================
.container
  max-width: $mv+px
  margin: 0 auto
  width: 100%

  @media (max-width: $md1+px)
    max-width: 970px

  @media (max-width: $md2+px)
    max-width: 704px

  @media (max-width: $md3+px)
    max-width: 560px

  @media (max-width: $md4+px)
    max-width: 480px

  @media (max-width: $md5+px)
    width: 100%
    padding: 0 20px
//</ОСНОВНАЯ СЕТКА>======================================================================================================

//<ОСНОВНОЙ БЛОК>========================================================================================================
.heading
  font-family: HKGrotesk
  font-weight: bold
  text-align: center
  letter-spacing: 0.2px
  color: #183B56
  @include adaptive-font(36, 28)
  @include line-h(48, 36)

.title
  font-family: HKGrotesk
  font-weight: bold
  line-height: 33px
  letter-spacing: 0.2px
  color: #183B56
  @include adaptive-font(22, 20)

.text
  font-family: Open-Sans
  font-weight: normal
  line-height: 32px
  color: #5A7184
  @include adaptive-font(18, 16)

.subtitle
  display: inline-block
  font-family: Open-Sans
  font-weight: 600
  font-size: 14px
  line-height: 19px
  letter-spacing: 2px
  text-transform: uppercase
  color: #36B37E

.more
  font-family: Open-Sans
  font-weight: bold
  font-size: 18px
  line-height: 25px
  color: #1565D8
  &>img
    margin-left: 15px
    vertical-align: middle

.button
  display: flex
  align-items: center
  padding: 16px 27px 16px 38px
  font-family: Open-Sans
  font-weight: bold
  line-height: 25px
  color: #1565D8
  border: 2px solid #FFFFFF
  border-radius: 2000px
  @include adaptive-font(18, 16)
  &>img
    margin: 0 5px 0 0
  &-bordered
    padding: 16px 31px 16px 25px
    font-family: Open-Sans
    font-weight: bold
    line-height: 25px
    color: #FFFFFF
    background: transparent
    border: 2px solid #FFFFFF
    border-radius: 2000px
    @include adaptive-font(18, 16)
    &>img
      margin: 0 0 0 14px
      vertical-align: middle

.op
  font-family: Open-Sans

.spoiler
  &-item
    &__text
      display: none
    &__icon
      position: relative
      width: 11px
      height: 11px
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        height: 3px
        width: 11px
        background-color: #1565D8
        border-radius: 1px
        transition: all 0s ease
      &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        height: 3px
        width: 11px
        background-color: #1565D8
        border-radius: 2px
        transform: rotate(90deg)
      &_active
        &::before
          animation: rotate90hidden 0.4s linear 1 normal forwards
        &::after
          animation: rotate90 0.4s linear 1 normal forwards

@keyframes rotate90
  100%
    transform: rotate(180deg)
@keyframes rotate90hidden
  100%
    transform: rotate(90deg)
    visibility: hidden
//</ОСНОВНОЙ БЛОК>=======================================================================================================

//<ПОДКЛЮЧЕНИЯ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЕЛМЕНТОВ>=========================================================================
@import "blocks/_header.sass"
@import "blocks/_features-part.sass"
@import "blocks/_quickstart.sass"
@import "blocks/_information.sass"
@import "blocks/_features.sass"
@import "blocks/_sponsors.sass"
@import "blocks/_questions.sass"
@import "blocks/_quote.sass"
@import "blocks/_promo.sass"
@import "blocks/_footer.sass"
@import "media.sass"
//</ПОДКЛЮЧЕНИЯ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЕЛМЕНТОВ>========================================================================
